<?xml version='1.0' encoding='utf-8'?>
<widget id="io.coligo.randomword" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Sports Cloud</name>
    <description>
        A mobile app for checking paintball tournaments
    </description>
    <author email="alejandro.gurovich@gmail.com" href="http://www.smart-sourcing.com.ar/">
        Alejandro Gurovich
    </author>
    <content src="index.html" />
    <content src="http://127.0.0.1:8000" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />    
    <hook type="before_build" src="scripts/js-assets.compile.js" />
    
</widget>